h1, h2 {
    color: white;
}

a {
    color: aquamarine;
}

h4 {
    color: grey;
}

body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_logo {
    width: 100%;
    text-align: right;
}